.navbar {
  background-color: #553300;
}

.jumbotron {
  padding-top: 7rem;
  background-color: #d2b48c;
}

#skills {
  background-color: #d2b48c;
}

footer {
  background-color: #d2b48c;
}

section {
  padding-top: 6rem;
}

#profile {
  background-color: #ffffff;
}

#education {
  background-color: #d2b48c;
}

#mywork {
  background-color: #ffffff;
}

#certificate {
  background-color: #d2b48c;
}

.footer {
  background-color: #ffffff;
}

.about-me {
  display: grid;
  grid-template-columns: 1fr 10px 1fr;
}
